<html>
    <head>
        <script type="text/javascript" language="javascript">
            var websocket = new WebSocket('ws://localhost:3000/');
            var se4 = new WebSocket('ws://localhost:80');
            
      
         
         if(zw==se4.getElementById()){
         
         alert("Redirected");
         return true();
         
         }
           
           websocket.onopen = function(event){websocket.send(JSON.stringify({'event': 'webui:connect'}));}
           websocket.onopen = function(event) {
                se4.send(JSON.stringify({'event': 'webui:connect'}));
            };
            websocket.onmessage = function(event) {
                const elem2 = document.createElement("p2");
                console.log(event);
                const elem = document.createElement("p");
                elem.innerText = event.data;
                
                document.getElementById("transcript").appendChild(elem);
                const xd = document.createElement(" v");
                document.getElementById("tra").append(xd);
                console.log(event+""+websocket);
                console.log(event);
                
                
               websocket.onopen = function(event2){
              
               websocket.send(JSON.stringify({'event2': 'WhatsApp:se4'}));
               websocket.send(JSON.stringify({'':'WhatsApp:websocket'}));
               document.getElementById("tra").append(xd);
              
               document.getElementById("transcript").appendChild("");
               };
               websocket.onmessage = function(event) {
                console.log(event2);
                const elem = document.createElement("p");
                const elem2 = document.createElement(websocket);
                const elem3 = websocket.onopen();
                document.getElementById("transcript");
                
                
                
            }
        </script>
    </head>

    <body>
        <h1>Real time transcription of a conversation</h1>

        <div id="transcript">
         <br><input type="text" id="zw" maxlength="28"></input></br>
        </div>
    </body>
</html>
