<html>
    <head>
        <script type="text/javascript" language="javascript">
            var websocket = new WebSocket('ws://localhost:3000/');
            var se4 = new WebSocket('ws://localhost:80');
            websocket.onopen = function(event) {
                se4.send(JSON.stringify({'event': 'webui:connect'}));
            };
            websocket.onmessage = function(event) {
                console.log(event);
                const elem = document.createElement("p");
                elem.innerText = event.data;
                document.getElementById("transcript").appendChild(elem);
                const xd = document.createElement(" v");
                document.getElementById("tra").append(xd);
                console.log(event+""+websocket);
                
               websocket.onopen = function(event2){
               
               websocket.send(JSON.stringify({'event2': 'WhatsApp:se4'}))
               document.getElementById("tra").append(xd);
              
               document.getElementById("transcript").appendChild("");
               };
               websocket.onmessage = function(event) {
                console.log(event2);
                const elem = document.createElement("p");
                const elem2 = document.createElement(websocket);
                const elem3 = websocket.onopen()
                
                
                
            }
        </script>
    </head>

    <body>
        <h1>Real time transcription of a conversation</h1>

        <div id="transcript">
         
        </div>
    </body>
</html>
